<button
        type="button"
        class="list-group-item list-group-item-action {% if hookable_metadata.configuration.active|default(false) %}active{% endif %}"
        data-bs-toggle="tab"
        data-bs-target="#brand"
        role="tab"
>
    {{ 'majerome_workshop_plugin.ui.brands'|trans }}
</button>
