{% extends '@SyliusShop/layout.html.twig' %}
{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% block content %}
    {% if products|length > 0 %}
        <div class="ui segment">
            {{ products|first.brand.description }}
        </div>
        <div class="ui segment">
            <div class="ui three cards">
                {% for product in products %}
                    {% include '@SyliusShop/Product/_box.html.twig' %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        {{ messages.info('sylius.ui.no_results_to_display') }}
    {% endif %}
{% endblock %}
